/exp2_entidadVirtual/LabPaginacionWeb-master/AppMundialFront/nbproject/private/
/exp2_entidadVirtual/co.edu.uniandes.isis2503.BRAIN_BRAKERS_FRONT/AppMundialFront/nbproject/private/
/exp2_entidadVirtual/isis2503_front/nbproject/private/
/exp2_entidadVirtual/isis2503_frontend/bower_components/
/exp2_entidadVirtual/isis2503_frontend/target/