/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2018, 09:58:28 AM
    Author     : e.reyesm
*/
.ng-invalid.ng-dirty{
    border-color: #FA787E;
}
.ng-valid.ng-dirty{
    border-color: #78FA89;
}
.form-title{
    text-align: center;
}
.form-title-image{
    display:block;
    margin:auto;
}
.footer {
    margin-top: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.featurette {
    margin-top: 100px;
}
.footer-name {
    margin-top: 20px;
}

.form-title-image{
    display:block;
    margin:auto;
}
